
#head1{
    text-align: center;
    font-size: 50px;
}
#para{
    font-size: 20px;
    text-align: center;
}
#para2{
    text-align: center;
    font-size: 20px;
}
#ab{
    background-color: #f4f4f4;
    display:flex;
    flex-direction: row;
    height:300px;
    
}

#mission{
    font-size: 25px;
    margin-left: 50px;
    margin-left: 50px;
    text-align: center;
}
#mishead{
    text-align: center;
}

#vision{
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
}
#vihead{
    text-align: center;
}

#member{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#sarang{
    font-size: 25px;
    border: 2px solid black;
    height:300px;
    width:300px;
    text-align: center;
    
}

#harsh{
    font-size: 25px;
    border: 2px solid black;
    height:300px;
    width:300px;
    text-align: center;
    
}

#akash{
    font-size: 25px;
    border: 2px solid black;
    height:300px;
    width:300px;
    text-align: center;
    
}
#head2{
    text-align: center;
}
#imgakash{
    /* border: 2px solid black; */
    margin: none;
    padding: none;

}

#imgsarang{
    /* border: 2px solid black; */
    margin: none;
    padding: none;
}

#imgharsh{
    /* border: 2px solid black; */
    margin: none;
    padding: none;
}

#footer{
    background-color: black;
    height:50px;
    margin-top: 20px;
}

body{
    margin: 0;
    padding:0;
}

