.head{
    font-size:80px;
    background-color:#16035b;
    margin:0px;
    color:#ede8f5;
    
}
.body{
  
    margin:0px;
    background-color:#ede8f5;
    background-size: cover;
    background-image: url("authentication.jpg"); 
}
.b1{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 270px;
    justify-content: center;
}
.button1{
    height:80px;
    width:150px;
    font-size: 40px;
    margin-right: 30px;
    background-color: #154c87;
    border:none;
    color:#ede8f5;
    border-radius: 10px;
}
.button2{
    height:80px;
    width:150px;
    font-size: 40px;
    margin-left: 30px;
    background-color:#154c87;
    border:none;
    color:#ede8f5;
    border-radius: 10px;

}

.button1:hover{
    opacity: 0.7;
}
.button2:hover{
    opacity: 0.7;
}
.button3:hover{
    opacity: 0.7;
}
.button3{
    margin-left: 900px;
    margin-bottom: 20px;
    background-color: #154c87;
    color:#ede8f5;
    font-size: 30px;
    border: none;
}


