.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-top: 270px;
    padding-bottom: 100px;
    margin:none;
    
   
    
    
}
.n{
    font-size: 20px;
}
#name{
    font-size: 20px;
}
.e{
    font-size: 20px;
}
#Email{
    font-size: 20px;
}
.p{
    font-size: 20px;
}
#subject{
    font-size: 20px;
}
.name{
    margin-left: 35px;
}
.subj{
    margin-left: 20px;
}
.f{
   
    font-size: 20px;
    margin-left: 10px;

}

.h1{
    margin-left: 120px;
}
.border{
    border:none;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
    background-color: #ede8f5;
}
.sub{
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #154c87;
    color:white;
    border:none;
}
body{
    background-color: rgb(167, 167, 167);
}
.sub:hover{
    opacity: 0.7;
}