#logo{
    background-color:#154c87;
    border-color:white;
    border-style: solid;
    border: none;
    
}

#heading{
    color:#ede8f5;
    font-size:80px;
}
a{
    color:#ede8f5;
    text-decoration: none;
}

.body{
    margin:0;
}
.d{
    margin-left: 900px;
    font-size: 20px;
}
.d:hover{
    opacity: 0.7;
}


.searchJob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #ede8f5;
    margin-top: 0px;
    border:none;
    height: 300px;
}
.searchBar{
    font-size: 25px;

}
.button{
    height:32px;
    width:73px;
    font-size: 20px;
    background-color: #154c87;
    border:none;
    color:#ede8f5;
}
.button:hover{
    opacity: 0.7;
}
.adv{
    background-color: #ede8f5;
    height: 400px;
    border:none;
   
}
.footer{
    text-align: center;
    background-color: black;
    color:white;
    border:none;
    height: 50px;
    
 
}
.margin{
    margin-top:0;
    padding-top: 15px;
}
