*{
    margin: 0%;
    padding: 0%;
}



/* he purn page sathi aahe */
#main1{
    background-color: #D1D5DB;
    display: flex;
    flex-direction: row;
}

/* hi purn side chi blue menu strip aahe */
#menubar{
    background-color: #001f3f;
    height: 800px;
    width: 25%;
    
    color: white;
    
    
}

#icon {
    display: flex;
    align-items: center;
    margin-top: 20px; 
    margin-left: 15px;
  }
  
  #logo-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #logo-text {
    font-size: 70px;
    color: white;
    margin-left: 15px;
    font-weight: bold;
  }
/* to take a distance from jobnest to below */
ul{
    margin-top: 30px;
    list-style-type: none;
}

/* for take distance between the options */
li{
    margin-top: 40px;
    margin-left: 30px;
    text-decoration: none;
}

/* he aatil option la blue box detai */
.menu-option {
    display: block;
    padding: 15px 20px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-option:hover {
    background-color: #0059b3;
    transform: scale(1.05);
    cursor: pointer;
}




#content{
    background-color:white;
    width: 80%;
    height: 800px;
}
/* search start */
.searchJob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #F0F0F0;
    margin-top: 0px;
    border:none;
    height: 200px;
    width: 100%;
}
.searchBar{
    font-size: 25px;
    border-radius: 5px;

}
.button{
    height:32px;
    width:73px;
    font-size: 20px;
    background-color: #154c87;
    border:none;
    border-radius: 10px;
    color:white;
}
.button:hover{
    opacity: 0.7;
}
/* search bar end */


#adv {
    background-color:white;
    height: 560px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-top: 0px;
}

.advblock {
    background-color:white;
    color:black;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.b1{
    border-radius: 5px;
    font-size: 15px;
    width: 80px;
    color: white;
    background-color: #154c87;
}

.b1:hover{
    opacity: 0.7;
}



footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.minimal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-icon {
    color: white;
    font-size: 30px;
}

.footer-text {
    font-weight: bold;
    font-size: 26px;
}

.footer-copy {
    font-size: 14px;
    color: #aaa;
}
